<div class="container">
    <label class="fs-1" id="lbltxt"></label><br />
    <button type="button" class="btn btn-primary btn-lg" id="PrintText" onclick="BtnClick(this.id)">Print Text</button>
    <button type="button" class="btn btn-primary btn-lg" id="BoldText" onclick="BtnClick(this.id)">Bold Text</button>
    <button type="button" class="btn btn-primary btn-lg" id="ItalicText" onclick="BtnClick(this.id)">Italic Text</button>
    <button type="button" class="btn btn-primary btn-lg" id="UnderlineText" onclick="BtnClick(this.id)">Underline Text</button>
    <button type="button" class="btn btn-primary btn-lg" id="ResetText" onclick="BtnClick(this.id)">Reset Text</button>
</div>

<script src="~/Scripts/JS/Code.js"></script>