<h2>JavaScriptResult : @Model</h2>
JavaScriptResult, which returns a script that is to be executed by the browser.
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        @Html.Raw(ViewBag.JavaScriptCode)
</script>

