<h1>OutputCache Demo</h1>
<br />
<h4>Current Date and Time: <strong>@DateTime.Now.ToString()</strong></h4>
<br />
<h4>Output from Cached Action Method:<strong>@Html.Action("CachedDateTime")</strong></h4>
