<div>
    <h3>Partial View Content</h3>
    <p>This is a partial view. </p>
    <p>In ASP.NET MVC, the PartialViewResult class is used to return a partial view as a result from an action method. Partial views are reusable views that can be embedded within other views. They allow you to break down complex views into smaller, reusable components. </p>
</div>